<h1>投稿一覧</h1>
<% if user_signed_in? %>
  <% @posts.each do |post|%>
    <p><%= post.title %> <%= "投稿者: #{post.user.name}" if post.user.name.present? %> </p>
    <p><%= image_tag post.image.thumb.url if post.image?%> </p>
    <td>
    <%= link_to "詳細", post %> 
    <%= link_to "編集", edit_post_path(post) %> 
    <%= link_to "削除", post, method: :delete, data: { confirm: "削除しますか？ "} %> 
    </td>
  <% end %>
<% else %>
  <p>ログインしてください</p>
<% end %>
