<h1>新規投稿</h1>
<%= form_with model: @post, local: true do |form| %>
  <p><%= form.label :title, "タイトル" %> <%= form.text_field :title %> </p>
  <p><%= form.label :comment, "コメント" %> <%= form.text_area :comment %> </p>
  <p><%= form.label :image, "画像"%><%= form.file_field :image%></p>
  <%= form.submit "送信" %>
<% end %>
